<p>
  <mat-toolbar color="primary">
    <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <nav>
      <span (click)="chosenPage=''" id="span" routerLink="/dashboard">OnTheGo</span>
    </nav>
    <span class="example-spacer"></span>

    <button *ngIf="isUserLogged"
            [ngClass]="{chosen:chosenPage=='myRequests'}"
            class="mat-button"
            routerLink="my-requests"
            style="position: absolute;
            left: 160px"
    >My Requests
    </button>

    <button *ngIf="isUserLogged"
            [ngClass]="{chosen:chosenPage=='myRoutes'}"
            class="mat-button"
            routerLink="my-routes"
            style="position: absolute;
            left: 260px"
    >My Routes
    </button>

    <button (click)="onClickFirstName()" *ngIf="isUserLogged" class="mat-button camelCase">Hi {{userName}}!</button>
    <button (click)="onClickLogin()" *ngIf="!isUserLogged" class="mat-button">Login</button>
    <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
