.item {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px
}

.right {
  display: inline-block;
  float: right;
}

.left {
  float: left;
  margin-top: 10px;
}

.button {
  float: right;
  border: none;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: unset;
}

.camelCase {
  text-transform: capitalize;
}
