<div class="item">
  <mat-chip-list style="display: inline-block; float: left; margin-bottom: 2px">
    <mat-chip class="camelCase">{{from}}</mat-chip>
    <span class="material-icons">
      east
    </span>
    <mat-chip class="camelCase">{{to}}</mat-chip>
  </mat-chip-list>
  <button (click)="onClickDelete()" class="button" matTooltip="Click to delete this route">
      <span class="material-icons" matTooltip="Click to delete this route">
close
    </span>
  </button>
  <br><br>
  <p style="display: inline-block; float: left; margin-left: 10px">{{exitTime}}</p>
  <p style="margin-left: 100px">{{arrivalTime}}</p>
</div>

