<div class="basic-container">
  <h5 class="login">REGISTRATION</h5>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>User name</mat-label>
      <input #userName [formControl]="userNameForm" [maxLength]="20" matInput placeholder="UserName" required>
      <mat-hint align="start">{{userName.value?.length || 0}}/20</mat-hint>
      <mat-error *ngIf="userNameForm.invalid">{{getUserErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input [formControl]="passwordForm" matInput placeholder="Password" required>
      <mat-hint align="start">8 char minimum</mat-hint>
      <mat-error *ngIf="passwordForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>First name</mat-label>
      <input [formControl]="firstNameForm" matInput placeholder="First Name" required>
      <mat-error *ngIf="firstNameForm.invalid">{{getFirstNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Last name</mat-label>
      <input [formControl]="lastNameForm" matInput placeholder="Last Name" required>
      <mat-error *ngIf="lastNameForm.invalid">{{getLastNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input [formControl]="emailForm" matInput placeholder="pat@example.com" required>
      <mat-error *ngIf="emailForm.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Phone number</mat-label>
      <input [formControl]="phoneForm" matInput placeholder="Phone" required>
      <mat-hint align="start">example 0523334444</mat-hint>
      <mat-error *ngIf="emailForm.invalid">{{getPhoneErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="userAlreadyExist" class="invalid">User name already exist in the system!</div>
  <div>
    <button (click)="onClickRegistration()" class="button" color="primary" mat-raised-button>Register</button>
    <button (click)="onClickCancel()" class="button" color="primary" mat-raised-button>Cancel</button>
  </div>
</div>
