.basic-container {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}

.login {
  font-size: 30px
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.button {
  margin: 10px;
}

.invalid {
  color: red;
  font-size: 13px;
  font-weight: bold;
  margin: 5px;
}
.camelCase {
  text-transform: capitalize;
}
