<h2 mat-dialog-title class="mat-card-title">Add new Route</h2>

<mat-dialog-content>

  <div *ngIf="!fromSelected" class="selected"> this field is required</div>
  <mat-form-field appearance="fill">
    <mat-label>Start point</mat-label>
    <mat-select [(value)]="selectedFromLocation" required>
      <mat-option>None</mat-option>
      <mat-option value="Ashdod">Ashdod</mat-option>
      <mat-option value="Givaataim">Givaataim</mat-option>
      <mat-option value="TLV">TLV</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <div *ngIf="!toSelected" class="selected"> this field is required</div>
  <mat-form-field appearance="fill">
    <mat-label>End point</mat-label>
    <mat-select [(value)]="selectedToLocation" required>
      <mat-option>None</mat-option>
      <mat-option value="Ashdod">Ashdod</mat-option>
      <mat-option value="Givaataim">Givaataim</mat-option>
      <mat-option value="TLV">TLV</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <div *ngIf="!exitTimeSelected" class="selected"> this field is required</div>
  <h5>Enter exit time</h5>
    <input [ngxTimepicker]="picker1" [(ngModel)]="selectedExitTime">
    <ngx-material-timepicker #picker1 ></ngx-material-timepicker>

  <div *ngIf="!arrivalTimeSelected" class="selected"> this field is required</div>
  <h5>Enter arrival time</h5>
  <input [ngxTimepicker]="picker2" [(ngModel)]="selectedArrivalTime">
  <ngx-material-timepicker #picker2 ></ngx-material-timepicker>

</mat-dialog-content>

<div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()" >Save</button>
</div>
