<div class="body">
  <div>
    <p class="label">My Requests:</p>
    <button (click)="openDialog()" class="addNewReq" color="primary" mat-raised-button>add new request</button>
  </div>
  <br><br>
  <div *ngFor="let request of requests; let i = index">
    <app-request (delete)="onClickDelete($event)"
                 [from]="request.from"
                 [index]=i
                 [msg]="request.msg"
                 [status]="request.status"
                 [title]="request.title"
                 [to]="request.to"></app-request>
    <br>
  </div>
</div>
