<div *ngIf="showLoader" class="body">
  <app-loader></app-loader>
</div>
<div *ngIf="!showLoader" class="body">
  <div>
    <p class="label">My Requests:</p>
    <button (click)="onClickAddRequest()" class="addNewReq" color="primary" mat-raised-button type="button">
      add new request
    </button>
  </div>
  <br><br>
  <div *ngFor="let ad of ads; let i = index">
    <!--    its better to define event like onDelete-->
    <app-request (deletePerformed)="onClickDelete($event)"
                 (statusChanged)="updateAdStatus($event)"
                 (statusClicked)="statusClicked($event)"
                 [description]="ad._description"
                 [from]="(ad._request._fromLocation)"
                 [index]=i
                 [status]="ad._status"
                 [title]="ad._title"
                 [to]="ad._request._toLocation">

    </app-request>
    <br>
  </div>
</div>
