<div class="basic-container" style="margin-top: 50px" >
<h5 class="login">LOGIN</h5>
<p>
  <mat-form-field appearance="legacy" style="min-width: 300px">
    <mat-label>Enter user name</mat-label>
    <input matInput placeholder="Placeholder" #USERNAME >
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard" style="min-width: 300px">
    <mat-label>Enter Password</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
  <div class="example-button-row" >
    <button mat-raised-button color="primary" style="margin-right: 10px" (click)="onClickLogin(USERNAME.value)">Login</button>
    <button mat-raised-button color="primary" (click)="onClickRegistration()">Register</button>
  </div>
</div>
