<div class="basic-container" style="margin-top: 50px">
  <h5 class="login">LOGIN</h5>
  <p>
    <mat-form-field appearance="legacy" style="min-width: 300px">
      <mat-label>Enter user name</mat-label>
      <input #USERNAME matInput placeholder="User Name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard" style="min-width: 300px">
      <mat-label>Enter Password</mat-label>
      <input matInput placeholder="Password" #PASSWORD>
    </mat-form-field>
  </p>
  <div *ngIf="userNotFound" class="invalid">User name \ Password are not valid!</div>
  <div>
    <button (click)="onClickLogin(USERNAME.value, PASSWORD.value)" color="primary" mat-raised-button style="margin-right: 10px">Login
    </button>
    <button (click)="onClickRegistration()" color="primary" mat-raised-button>Register</button>
  </div>
</div>
