<div class="item">
  <h5 class="requestTitle">{{title}}</h5>
  <div>
    <button [matMenuTriggerFor]="menu" class="ticketMenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
      <button (click)="onClickDelete()" mat-menu-item>
        <span>Delete</span>
      </button>
      <button (click)="onChangeStatus('RESOLVED')" [disabled]="status === 'RESOLVED'" mat-menu-item>
        <span>Mark as resolved</span>
      </button>
      <button (click)="onChangeStatus('PENDING')" *ngIf="status === 'RESOLVED'" mat-menu-item>
        <span>Pending</span>
      </button>
    </mat-menu>

    <mat-chip (click)="onClickStatus()" [ngClass]="{resolved:status=='RESOLVED'}"
              class="statusButton">{{status}}</mat-chip>
  </div>
  <br><br>
  <p class="content">{{description}}</p>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip>{{from}}</mat-chip>
    <span>&#8594;</span>
    <mat-chip>{{to}}</mat-chip>
  </mat-chip-list>
</div>
