.item {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px
}

.requestTitle {
  margin-top: 5px;
  width: 300px;
  float: left;
  font-size: 15px;
}

.content {
  max-width: 400px;
  font-size: 10px;
}

.statusButton {
  background-color: lightsalmon;
  display: inline-block;
  float: right;
  margin-top: 5px;
  min-width: 100px;
  text-align: center;
}

.menu {
  max-width: 10px;
  float: right;
}

.resolved {
  background-color: lightgreen;
}
