<h2 mat-dialog-title class="mat-card-title">Add new Request</h2>

<mat-dialog-content>

  <div *ngIf="!titleSelected" class="selected"> this field is required</div>
  <mat-form-field appearance="legacy" style="min-width: 300px" >
      <mat-label>Enter ad title</mat-label>
      <input matInput placeholder="Enter ad title" [(ngModel)]="selectTitle" #ITEM >
    </mat-form-field>
  <br>

  <div *ngIf="!msgSelected" class="selected"> this field is required</div>
  <mat-form-field appearance="legacy" style="min-width: 300px"  >
      <mat-label>Write your Message:</mat-label>
      <input matInput placeholder = 'Write your Message:' [(ngModel)]="selectMsg"  #MSG >
    </mat-form-field>

  <h4>Location</h4>
  <div *ngIf="!fromSelected" class="selected"> this field is required</div>
  <mat-form-field appearance="fill">
    <mat-label>From location (required)</mat-label>
    <mat-select [(value)]="selectedFromLocation" required>
      <mat-option>None</mat-option>
      <mat-option value="Ashdod">Ashdod</mat-option>
      <mat-option value="Givaataim">Givaataim</mat-option>
      <mat-option value="TLV">TLV</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <div *ngIf="!toSelected" class="selected"> this field is required</div>
  <mat-form-field appearance="fill">
    <mat-label>To location</mat-label>
    <mat-select [(value)]="selectedToLocation" required>
      <mat-option>None</mat-option>
      <mat-option value="Ashdod">Ashdod</mat-option>
      <mat-option value="Givaataim">Givaataim</mat-option>
      <mat-option value="TLV">TLV</mat-option>
    </mat-select>
  </mat-form-field>


</mat-dialog-content>

<div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSaveClick(ITEM.value, selectedToLocation, selectedFromLocation, MSG.value)" >Save</button>
</div>
