<div *ngIf="showLoader" class="body">
  <app-loader></app-loader>
</div>
<div *ngIf="!showLoader" class="body">
  <div>
    <p class="label">Dashboard:</p>
  </div>
  <div *ngFor="let ad of ads; let i = index">
    <app-ad [date]="ad._adLastModifiedDate"
            [description]="ad._description"
            [request]="ad._request"
            [status]="ad._status"
            [time]="ad._adLastModifiedTime"
            [title]="ad._title"
            [userLastName]="ad._user._lastName"
            [userName]="ad._user._userName"
    ></app-ad>
    <br>
  </div>
</div>
